<% if @product.errors.any? %>
<h2>新增失敗，錯誤訊息</h2>
<ul>
  <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @product, html: { multipart: true } do |f| %>
  <p>
    <%= f.label :商品名稱 %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :價格 %><br/>
    <%= f.number_field :price %><br/>
  </p>
  <p>
    <%= f.label :數量 %><br/>
    <%= f.number_field :amount %><br/>
  </p>
  <p>
    <%= f.label :類別 %><br/>
    <%= f.collection_select :sort_id, Sort.all, :id, :name %><br/>
  </p>
  <p>
    <%= f.label :上傳圖片 %><br/>
    <%= f.file_field :image %><br/>
  </p>
  <p>
    <%= f.submit '儲存' %>
  </p>
<% end %>

<%= link_to '回商品首頁', products_path %>