<h1>商品資料</h1>

<p>
  商品名稱: <%= @product.name %>
</p>
<p>
  價格: <%= @product.price %>
</p>
<p>
  數量: <%= @product.amount %>
</p>
<p>
  類別: <%= @product.sort.name %>
</p>
<p>
  <%= image_tag @product.image.url(:medium) %>
</p>

<%= link_to '修改商品資料', edit_product_path %> |
<%= link_to '回商品首頁', products_path %> |
<%= link_to '新增商品', new_product_path %>


